PLATAFORMAS DE PROTOTIPAÇÃO PARA INTERNET DAS COISAS/dashboard-nodered/dash_insert_mysql
[
    {
        "id": "12aed9bce473d7b8",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "93d33836a8ca8770",
        "type": "mqtt in",
        "z": "12aed9bce473d7b8",
        "name": "",
        "topic": "sensor/movimento",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqtt_broker",
        "inputs": 0,
        "x": 150,
        "y": 120,
        "wires": [
            [
                "38e902dc178d4cd3"
            ]
        ]
    },
    {
        "id": "38e902dc178d4cd3",
        "type": "function",
        "z": "12aed9bce473d7b8",
        "name": "Converter Estado",
        "func": "if (msg.payload === \"1\") {\n    msg.payload = {\n        estado: \"Em Movimento\",\n        valor: 1\n    };\n} else if (msg.payload === \"0\") {\n    msg.payload = {\n        estado: \"Sem Movimento\",\n        valor: 0\n    };\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 120,
        "wires": [
            [
                "fb64bfe40323e1f6",
                "6edf33705dce0511"
            ]
        ]
    },
    {
        "id": "fb64bfe40323e1f6",
        "type": "function",
        "z": "12aed9bce473d7b8",
        "name": "Inserir no MySQL",
        "func": "var estado = msg.payload.valor === 1 ? 'Em Movimento' : 'Sem Movimento';\nmsg.topic = `INSERT INTO movimento (estado, valor, timestamp) VALUES ('${estado}', ${msg.payload.valor}, NOW())`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 220,
        "wires": [
            [
                "31270e8196bbf761"
            ]
        ]
    },
    {
        "id": "31270e8196bbf761",
        "type": "mysql",
        "z": "12aed9bce473d7b8",
        "mydb": "556bdbf0d2d82f7e",
        "name": "Inserir Movimento",
        "x": 750,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "6edf33705dce0511",
        "type": "ui_gauge",
        "z": "12aed9bce473d7b8",
        "name": "",
        "group": "d88c0e7d743e79ba",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Estado do Sensor",
        "label": "Status",
        "format": "{{payload.valor}}",
        "min": "0",
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 750,
        "y": 100,
        "wires": []
    },
    {
        "id": "06c98e08b317f44f",
        "type": "ui_chart",
        "z": "12aed9bce473d7b8",
        "name": "",
        "group": "d88c0e7d743e79ba",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Histórico de Movimento",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Aguardando dados...",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#00b500",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1010,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "dad2004afdf3929d",
        "type": "function",
        "z": "12aed9bce473d7b8",
        "name": "Pegar Histórico do MySQL",
        "func": "msg.topic = \"SELECT estado, valor, timestamp FROM movimento ORDER BY timestamp DESC LIMIT 100\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 320,
        "wires": [
            [
                "3b94045b047576e6",
                "28ad1f3348d20b06"
            ]
        ]
    },
    {
        "id": "3b94045b047576e6",
        "type": "mysql",
        "z": "12aed9bce473d7b8",
        "mydb": "556bdbf0d2d82f7e",
        "name": "Selecionar Histórico",
        "x": 700,
        "y": 320,
        "wires": [
            [
                "126ff6b1f5af6b7e"
            ]
        ]
    },
    {
        "id": "126ff6b1f5af6b7e",
        "type": "function",
        "z": "12aed9bce473d7b8",
        "name": "Formatar para Gráfico",
        "func": "var data = msg.payload; // Array de objetos {estado, valor, timestamp}\n\n// Verifica se há dados\nif (!data || data.length === 0) {\n    msg.payload = {\n        series: [\"Movimento\"],\n        data: [[]],\n        labels: []\n    };\n    return msg;\n}\n\n// Ordena os dados do mais antigo para o mais recente\ndata = data.reverse();\n\n// Extrai os valores e timestamps\nvar valores = data.map(item => item.valor);\nvar timestamps = data.map(item => new Date(item.timestamp).toLocaleTimeString());\n\n// Estrutura os dados para o ui_chart\nmsg.payload = {\n    series: [\"Movimento\"],\n    data: [valores],\n    labels: timestamps\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 320,
        "wires": [
            [
                "06c98e08b317f44f"
            ]
        ]
    },
    {
        "id": "35158a7fc3b2465d",
        "type": "debug",
        "z": "12aed9bce473d7b8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 550,
        "y": 180,
        "wires": []
    },
    {
        "id": "28ad1f3348d20b06",
        "type": "debug",
        "z": "12aed9bce473d7b8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 440,
        "wires": []
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "Meu Broker MQTT",
        "broker": "18.228.117.52",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "556bdbf0d2d82f7e",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "iot",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "d88c0e7d743e79ba",
        "type": "ui_group",
        "name": "Default",
        "tab": "bf6c1463981f66db",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "bf6c1463981f66db",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
