PLATAFORMAS DE PROTOTIPAÇÃO PARA INTERNET DAS COISAS/dashboard-nodered/dash.json
[
    {
        "id": "mqtt_in",
        "type": "mqtt in",
        "z": "flow_id",
        "name": "",
        "topic": "sensor/movimento",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqtt_broker",
        "x": 100,
        "y": 100,
        "wires": [
            ["function_convert"]
        ]
    },
    {
        "id": "function_convert",
        "type": "function",
        "z": "flow_id",
        "name": "Converter Estado",
        "func": "if (msg.payload === \"1\") {\n    msg.payload = {\n        estado: \"Em Movimento\",\n        valor: 1\n    };\n} else if (msg.payload === \"0\") {\n    msg.payload = {\n        estado: \"Sem Movimento\",\n        valor: 0\n    };\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 100,
        "wires": [
            ["ui_gauge", "ui_chart"]
        ]
    },
    {
        "id": "ui_gauge",
        "type": "ui_gauge",
        "z": "flow_id",
        "name": "",
        "group": "dashboard_group",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Estado do Sensor",
        "label": "Status",
        "format": "{{payload.valor}}",
        "min": "0",
        "max": "1",
        "colors": ["#00b500","#e6e600","#ca3838"],
        "seg1": "",
        "seg2": "",
        "x": 500,
        "y": 80,
        "wires": []
    },
    {
        "id": "ui_chart",
        "type": "ui_chart",
        "z": "flow_id",
        "name": "",
        "group": "dashboard_group",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Histórico de Movimento",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Aguardando dados...",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": ["#00b500"],
        "useOldStyle": false,
        "x": 500,
        "y": 140,
        "wires": []
    },
    {
        "id": "debug_node",
        "type": "debug",
        "z": "flow_id",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 300,
        "y": 160,
        "wires": []
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "z": "",
        "name": "Meu Broker MQTT",
        "broker": "18.228.117.52",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "dashboard_group",
        "type": "ui_group",
        "z": "",
        "name": "Movimento",
        "tab": "dashboard_tab",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "dashboard_tab",
        "type": "ui_tab",
        "z": "",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 1
    }
]
